<script>
import { mdiContentCut } from "@mdi/js";
import { mdiChevronUp, mdiChevronDown, mdiHeartOutline } from "@mdi/js";
import { ref } from "vue";
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<template style="color: aqua">
  <v-container style="background-color: orange">
    <v-img src="" max-height="200" max-width="100%" cover>
      <v-card-title class="text-center justify-center py-6">
        <h2></h2>
        <h2></h2>
        <h2 class="font-weight-black text-h1 text-white">Portfolio</h2>
      </v-card-title>
    </v-img>
  </v-container>
  <v-container style="background-color: cyan">
    <v-row style="background-color: cyan" cols="">
      <v-col cols="3">
        <v-avatar color="info" size="230px">
          <v-img
            src="https://cdn.discordapp.com/attachments/1001718049650507837/1053572838059163658/IMG_9654_Original.jpg"
          >
          </v-img>
        </v-avatar>
      </v-col>
      <v-col>
        <v-table style="background-color: cyan">
          <thead>
            <tr>
              <th>
                <v-btn style="background-color: white">
                  <v-card-title> About Me </v-card-title>
                </v-btn>
              </th>
            </tr>
            <tr>
              <td>
                <p class="font-weight-bold ma-1 text-h6">
                  Name:Sasipa Sakorn <br />Nickname:Earn <br />Age:20
                  <br />
                  Date Of Birth:27 Junly 2002 <br />Height:161 <br />
                  Weight:85
                </p>
              </td>
            </tr>
            <br />
          </thead>
        </v-table>
      </v-col>
      <v-col cols="4">
        <v-table style="background-color: cyan">
          <thead>
            <tr>
              <th>
                <v-btn style="background-color: white">
                  <v-card-title> Social </v-card-title>
                </v-btn>
              </th>
            </tr>
            <tr>
              <td>
                <br />
                <v-btn style="background-color: black">
                  <v-img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"
                    width="30px"
                  ></v-img>
                </v-btn>
                <p class="font-weight-bold ma-1 text-h8">Earn</p>
                <br />
                <v-btn style="background-color: black">
                  <v-img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/LINE_New_App_Icon_%282020-12%29.png/800px-LINE_New_App_Icon_%282020-12%29.png"
                    width="30px"
                  ></v-img>
                </v-btn>
                <p class="font-weight-bold ma-1 text-h8">@sasipa27</p>
                <br />
                <v-btn style="background-color: black">
                  <v-img
                    src="https://www.mmthailand.com/wp-content/uploads/2020/04/ig-icon.png"
                    width="30px"
                  ></v-img>
                </v-btn>
                <p class="font-weight-bold ma-1 text-h8">enps_</p>
                <br />
              </td>
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>

    <v-container style="background-color: navy">
      <v-img src="" max-height="70" max-width="100%" cover>
        <v-card-title class="text-center justify-center py-6">
          <h2 class="font-weight-black text-h5 text-white">
            Education History
          </h2>
        </v-card-title>
      </v-img>
    </v-container>
    <br />
    <v-row>
      <v-col justify="center">
        <br />
        <div>
          <v-card class="mx-auto" max-width="344">
            <v-img
              src="https://www.dekthaikamsai.com/file/c032/profile.photo.jpg?t=1647499116"
              height="200px"
              cover
            ></v-img>

            <v-card-title> โรงเรียนเทศบาลเมืองจันทบุรี 1 </v-card-title>

            <v-card-subtitle>
              2008-2017 อนุบาลศึกษา-มัธยมศึกษา
            </v-card-subtitle>

            <v-card-actions>
              <v-btn color="orange-lighten-2" variant="text"> </v-btn>

              <v-spacer></v-spacer>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>
              </div>
            </v-expand-transition>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <br />
        <div>
          <v-card class="mx-auto" max-width="344">
            <v-img
              src="https://upload.wikimedia.org/wikipedia/th/e/e5/Sriya-logo.gif"
              height="200px"
              cover
            ></v-img>

            <v-card-title> Siyanuson School </v-card-title>

            <v-card-subtitle> 2017-2020 มัธยมศึกษาตอนปลาย </v-card-subtitle>

            <v-card-actions>
              <v-btn color="orange-lighten-2" variant="text"> </v-btn>

              <v-spacer></v-spacer>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>
              </div>
            </v-expand-transition>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <br />
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Buu-logo11.png"
            height="200px"
            cover
          ></v-img>

          <v-card-title> Burapha University </v-card-title>

          <v-card-subtitle> 2022 ปัจจุบัน </v-card-subtitle>

          <v-card-actions>
            <v-btn color="orange-lighten-2" variant="text"> </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-container style="background-color: cyan">
    <v-row style="background-color: cyan" cols=""> </v-row>
  </v-container>

  <v-container style="background-color: navy">
    <v-img src="" max-height="100" max-width="100%" cover>
      <v-card-title class="text-center justify-center py-5">
        <h2 class="font-weight-black text-h5 text-white">Hobby</h2>
      </v-card-title>
    </v-img>
  </v-container>
  <v-container style="background-color: cyan">
    <v-row style="background-color: cyan" cols=""></v-row>.

    <br />

    <v-row>
      <v-col justify="center">
        <br />
        <div>
          <v-card class="mx-auto" max-width="344">
            <v-img
              src="https://seeklogo.com/images/V/valorant-logo-FAB2CA0E55-seeklogo.com.png"
              height="300px"
              cover
            ></v-img>
          </v-card>
        </div>
      </v-col>
      <v-col>
        <br />
        <div>
          <v-card class="mx-auto" max-width="344">
            <v-img
              src="https://p16-tiktokcdn-com.akamaized.net/obj/tiktok-obj/1a47c4c76880ae62bf6f809cb747640a.png"
              height="300px"
              cover
            ></v-img>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <br />
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://yt3.googleusercontent.com/584JjRp5QMuKbyduM_2k5RlXFqHJtQ0qLIPZpwbUjMJmgzZngHcam5JMuZQxyzGMV5ljwJRl0Q=s900-c-k-c0x00ffffff-no-rj"
            height="300px"
            cover
          ></v-img>
        </v-card>
      </v-col>
    </v-row>
    <br />
  </v-container>
  <v-container style="background-color: orange">
    <v-img src="" max-height="200" max-width="100%" cover>
      <v-card-title class="text-center justify-center py-6">
        <h2></h2>
        <h2></h2>
        <br />
      </v-card-title>
    </v-img>
  </v-container>
</template>
